.cover__subtitle{
    margin: 0 auto;
    width: 360px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    z-index: 1;
}

@media (max-width: 767px){
    .cover__subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }  
  }