.header{
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    max-width: 91%;
    max-height: 52px;
    justify-content: space-between;
}

@media (max-width: 424px){
    .header{
      max-height: 42px; 
      padding-top: 16px;
    }  
  }
